@{
    ViewBag.Title = "Legal Content Survey Results";
}

<h1>Legal Content Survey</h1>
<p class="lead">This project was produced by <a href="https://www.linkedin.com/in/amanda-leigh-brown-0a949942/">Amanda Leigh Brown</a> while seconded to Microsoft's Corporate Legal Department through the <a href="http://abacenterforinnovation.org/fellowships/fellowship-application/what-is-the-fellows-program">ABA Center for Innovation Fellows program</a>. The data were collected through August 1, 2018. You can access the source objects used for this report <a href="https://github.com/Microsoft/CELA-OGC-Legal-Business-Content-Survey">here</a>.</p>
<iframe width="933" height="700" src="https://msit.powerbi.com/view?r=eyJrIjoiOGQ4YjIwOWEtNjhhNi00MGQxLTliNzUtYjhjYTY4MmI2MzcyIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe>