@{
    ViewBag.Title = "Legal Content Channel Survey Results";
}

<div style="width:1000px; margin:0 auto;">
    <h1 style="text-align:center">Results of the Microsoft/ABA Center for Innovation Legal Content Channel Survey</h1>
    <p class="lead">This project was produced by <a href="https://www.linkedin.com/in/amanda-leigh-brown-0a949942/">Amanda Leigh Brown</a> while seconded to Microsoft's Corporate Legal Department through the <a href="http://abacenterforinnovation.org/fellowships/fellowship-application/what-is-the-fellows-program">ABA Center for Innovation Fellows program</a>. The data were collected through August 1, 2018. You can access the source objects used for this report <a href="https://aka.ms/legalops-contentsurvey-source">here</a>.</p>
    <p class="lead">This report is interactive. As you click through the results, feel free to use the provided filters to dive deeper into the data.</p>

    <iframe width="1000" height="700" src="https://msit.powerbi.com/view?r=eyJrIjoiYmM5YzU5N2UtOWIwNy00NGYyLTg2ZjQtNGE5OGNmMDdkZWNiIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe>
</div>